# Credenciales (NUNCA subir esto)
.env

# Python
__pycache__/
*.pyc
*.pyo

# Archivos temporales del proyecto
*.xlsx
*.csv

# Entorno virtual (si usas uno)
venv/
.venv/

# IDEs
.vscode/
.idea/

# Compilación y distribución
build/
dist/